In [1]:
## Module 5 Bonus

In [5]:
import pandas as pd

In [9]:
cities = pd.Series({'Boston': '02215', 'Miami': '3310'})
## Brady Monks

In [10]:
cities

Boston    02215
Miami      3310
dtype: object

In [13]:
 cities.str.match(r'\d{5}')

Boston     True
Miami     False
dtype: bool

In [14]:
cities = pd.Series(['Boston, MA 02215', 'Miami, FL 33101'])
## Brady Monks

In [15]:
cities

0    Boston, MA 02215
1     Miami, FL 33101
dtype: object

In [17]:
cities.str.contains(r' [A-Z]{2} ')

0    True
1    True
dtype: bool

In [18]:
cities.str.match(r' [A-Z]{2} ')

0    False
1    False
dtype: bool

In [19]:
contacts = [['Mike Green', 'demo1@deitel.com', '5555555555'],
    ['Sue Brown', 'demo2@deitel.com', '5555551234']]

In [23]:
import re

In [24]:
 contacts = [['Mike Green', 'demo1@deitel.com', '5555555555'],
    ['Sue Brown', 'demo2@deitel.com', '5555551234']]

In [25]:
contactsdf = pd.DataFrame(contacts,
    columns=['Name', 'Email', 'Phone'])

In [21]:
def get_formatted_phone(value):
    result = re.fullmatch(r'(\d{3})(\d{3})(\d{4})', value)
    return '-'.join(result.groups()) if result else value
## Brady Monks

In [26]:
 formatted_phone = contactsdf['Phone'].map(get_formatted_phone)

In [27]:
formatted_phone

0    555-555-5555
1    555-555-1234
Name: Phone, dtype: object